.env

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

Pipfile
test.py

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
*.eggs/
*.egg
MANIFEST
